body {
  background-color: rgb(55, 55, 55);
  color: rgb(205, 205, 205);
  font-family: sans-serif;
  font-size: large;

  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: white;
}

strong {
  color: white;
}

button {
  cursor: pointer;
}

.main {
  width: 80vw;
}

.smallcaps {
  font-variant: small-caps;
}

.code {
  font-family: monospace;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.1em;
}

.topbar {
  display: flex;
  width: 100%;
  gap: 1em;

  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.topbar img {
  border-radius: 5px;
  padding: 2px;
  width: 3em;
}

.topbar a {
  height: fit-content;
  color: white;
  text-decoration: none;
}

.topbar a:hover {
  text-decoration: underline;
}
