:root {
  --primary-color: #ff9a00;
  --secondary-color: #44a1a4;
  --tertiary-color: #325e6a;
  --background-color: #224248;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: sans-serif;
  font-size: large;

  align-items: center;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}

strong {
  color: white;
}

button {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.section {
  background-color: var(--background-color);
  padding: 1em;

  outline-style: solid;
  outline-color: var(--tertiary-color);
  outline-width: 2px;
}

.section h1 {
  font-variant: small-caps;
  font-size: larger;

  text-align: left;
  margin: 0;
  margin-top: 0.3em;
}

.section h2 {
  font-variant: small-caps;
  font-size: large;

  text-align: left;
  margin: 0;
  margin-top: 0.3em;
}

.topbar {
  display: flex;
  width: 100%;
  height: 4em;

  gap: 2px;
  margin: 0.5em;
  box-sizing: border-box;

  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

/* All children */
.topbar > * {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.topbar img {
  border-radius: 5px;
  padding: 2px;
  height: 3em;
}

.topbar a {
  height: fit-content;
  color: var(--primary-color);
  text-decoration: none;
}

.topbar a:hover {
  text-decoration: underline;
}

.footer {
  color: var(--tertiary-color);
  background-color: var(--background-color);

  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 1;

  text-align: center;
  padding: 0.5em;

  position: fixed;
  bottom: 0;
}

.footer a {
  color: #356c7c;
  text-decoration: none;
}

.footer a:hover {
  color: #356c7c;
  text-decoration: underline;
}

.code {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 1;

  background-color: black;
  color: var(--secondary-color);
  padding: 0.2em;
}
